* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #000958;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: "Sora", sans-serif;
}

/* ====Common==== */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* ====Header==== */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px 0;
    background: #fff;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.nav__list {
    display: flex;
}

.nav-item__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.nav-item__link:hover {
    color: #000958;
    text-shadow: -0.1px -0.1px var(--primary-color),
        0.1px 0.1px var(--primary-color);
}

.header__btn {
    --height: 50px;
    display: inline-block;
    min-width: 117px;
    height: var(--height);
    color: var(--primary-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: var(--height);
    border-radius: 25px;
    border: 1px solid var(--primary-color);
    opacity: 0.7;
}

.header__btn:hover {
    opacity: 1;
}

/*====Hero====*/

.hero {
    padding: 90px 0;
}

.hero__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    position: relative;
}

.hero__thumb {
    width: 388px;
    height: 488px;
    object-fit: cover;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero-img__small {
    position: absolute;
    bottom: -58px;
    right: -163px;
    width: 186px;
    height: 244px;
}

.hero-image__icon {
    position: absolute;
    z-index: -1;
}

.hero-image__icon-1 {
    bottom: 30px;
    left: -58px;
}
.hero-image__icon-2 {
    top: 17px;
    right: -39px;
}

.hero-service {
    position: absolute;
    bottom: -94px;
    right: 9px;
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-service__item {
    position: relative;
    display: flex;
    gap: 0 9px;
}

.hero-service__item:first-child {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #d0cfcf;
}

.hero-service__item::before,
.hero-service__item::after {
    position: absolute;
    left: 50px;
    content: "";
    height: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    opacity: 0.1;
    background: #000958;
}

.hero-service__item::before {
    top: 22px;
    width: 118px;
}

.hero-service__item::after {
    top: 32px;
    width: 39px;
}

.hero-service__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
}

.hero-service__text {
    color: #181e52;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero__content {
    width: 517px;
}

.hero__title {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.86;
}

.hero__action {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-top: 38px;
}

.hero__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    border: none;
    outline: none;
    width: 189px;
    height: 60px;
    border-radius: 31px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    cursor: pointer;
}

.hero__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.hero__call {
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration-line: underline;
}

/* ====About==== */
.about {
    margin-top: 130px;
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 146px;
    align-items: center;
}

.about__lead {
    grid-column: 1 / 3;
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
}

.about__title {
    width: 444px;
    margin-top: 15px;
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.about__desc {
    width: 444px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.86;
}

.about__check-list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
    margin-top: 54px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
}

.about__check-item::after {
    position: absolute;
    top: 3px;
    left: 6px;
    content: url(../icon/check-about.svg);
}

.about__media {
    display: flex;
}

.about-statics {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 158px -44px 0 0;
    padding: 0 26px;
    width: 136px;
    height: 156px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about-statics__icon {
    position: absolute;
    top: -40px;
    right: -30px;
}

.about-statics__number {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
}

.about-statics__text {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.43;
}

.about__image {
    width: 494px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__media-bottom {
    position: relative;
}

.about__image-bottom {
    width: 458px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img {
    display: block;
    margin: 0 auto;
    width: 450px;
}

.about__img-bottom {
    width: 100%;
}

.about__group-icon {
    position: absolute;
}

.about__group-icon:nth-child(1) {
    top: 14px;
    right: 190px;
}
.about__group-icon:nth-child(2) {
    top: -16px;
    right: 140px;
}
.about__group-icon:nth-child(3) {
    top: 33px;
    right: 106px;
}
.about__group-icon:nth-child(4) {
    top: 206px;
    right: 94px;
}
.about__group-icon:nth-child(5) {
    bottom: 150px;
    right: 146px;
}
.about__group-icon:nth-child(6) {
    bottom: -55px;
    right: 85px;
}

.about__title-bottom,
.about__desc-bottom {
    width: 535px;
}

.about__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
    margin-top: 52px;
}

.about-item {
    position: relative;
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    cursor: pointer;
}

.about-item__sub-title {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
    white-space: nowrap;
}

.about__list::after,
.about-item.access::after {
    position: absolute;
    bottom: -14px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    opacity: 0.2;
    background: #ff5b2e;
}

.about-item.access::after {
    width: 95px;
    opacity: 1;
}

.about__content-tab {
    display: none;
}

.about__content-tab.active {
    display: block;
}

.about__excerpt {
    width: 391px;
    margin-top: 50px;
    font-size: 1.4rem;
    line-height: 1.71;
}

.about__view-more {
    margin-top: 32px;
    display: inline-block;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 2px;
    border-bottom: 1.5px solid #ff5d31;
}
