* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #000958;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3 {
    font-family: "Sora", sans-serif;
}

/* ====Common==== */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* ====Header==== */

.header {
    padding: 10px 0;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.nav-item__link {
    padding: 0 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.nav-item__link:hover {
    color: #000958;
    text-shadow: -0.1px -0.1px var(--primary-color),
        0.1px 0.1px var(--primary-color);
}

.header__btn {
    display: inline-block;
    min-width: 117px;
    height: 50px;
    color: var(--primary-color);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    border-radius: 25px;
    border: 1px solid var(--primary-color);
    opacity: 0.7;
}

.header__btn:hover {
    opacity: 1;
}

/*====Hero====*/

.hero {
    margin: 90px 0;
}

.hero__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    position: relative;
}

.hero__thumb {
    width: 388px;
    height: 488px;
    object-fit: cover;
    border-radius: 16px;
}

.hero-img__small {
    position: absolute;
    bottom: -58px;
    right: -163px;
    width: 186px;
    height: 244px;
    border: 3px solid #fff;
}

.hero-image__icon {
    position: absolute;
    z-index: -1;
}

.hero-image__icon-1 {
    bottom: 30px;
    left: -58px;
}
.hero-image__icon-2 {
    top: 17px;
    right: -39px;
}

.hero-service {
    position: absolute;
    bottom: -94px;
    right: 9px;
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-service__item {
    position: relative;
    display: flex;
    gap: 0 9px;
}

.hero-service__item:first-child {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #d0cfcf;
}

.hero-service__item::before,
.hero-service__item::after {
    position: absolute;
    left: 50px;
    content: "";
    height: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    opacity: 0.1;
    background: #000958;
}

.hero-service__item::before {
    top: 22px;
    width: 118px;
}

.hero-service__item::after {
    top: 32px;
    width: 39px;
}

.hero-service__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
}

.hero-service__text {
    color: #181e52;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero__content {
    width: 517px;
}

.hero__title {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.86;
}

.hero__action {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-top: 38px;
}

.hero__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    border: none;
    outline: none;
    width: 189px;
    height: 60px;
    border-radius: 31px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.hero__call {
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration-line: underline;
}
